<div class="page-header">
	<h1>Lista de Sliders</h1>
</div>
<div class="row">
	<table class="table table-bordered table-hover">
		<tr class="well">
			<th>Id</th>
			<th>Resumen</th>
			<th>Activo</th>			
			<th>Acciones</th>
		</tr>
	</table>
</div>
<div class="form-actions">
	<%= link_to raw("<i class='icon-home icon-white'></i> Nuevo"), new_content_slider_path, class: "btn btn-primary" %>
</div>