<% content_for :css_plugin do %>
    <link rel="stylesheet" href="/assets/content/plugins/font-awesome/css/font-awesome.css" />
    <link rel="stylesheet" href="/assets/content/plugins/flexslider/flexslider.css" type="text/css" media="screen" />          
<% end %>

<% content_for :js_plugin do %>
    <link rel="stylesheet" href="assets/plugins/font-awesome/css/font-awesome.css" />
    <link rel="stylesheet" href="assets/plugins/flexslider/flexslider.css" type="text/css" media="screen" />
<% end %>

<% content_for :css_theme do %>
    <link rel="stylesheet" href="assets/css/themes/default.css" id="style_color" />
<% end %>


<!--=== Breadcrumbs ===-->
<div class="row-fluid breadcrumbs margin-bottom-30">
	<div class="container">
        <h1 class="pull-left">Typography</h1>
        <ul class="pull-right breadcrumb">
            <li><a href="index.html">Home</a> <span class="divider">/</span></li>
            <li><a href="">Features</a> <span class="divider">/</span></li>
            <li class="active">Typography</li>
        </ul>
    </div><!--/container-->
</div><!--/breadcrumbs-->
<!--=== End Breadcrumbs ===-->

<!--=== Content Part ===-->
<div class="container">		
	<div class="row-fluid">
        <!-- Paragraph and Heading Examples -->
        <div class="row-fluid margin-bottom-20">
            <!-- Paragraph Examples -->
        	<div class="span6">
                <div class="headline"><h3>Paragraph Examples</h3></div>
                <p class="lead">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut non libero magna. Sed et quam lacus.</p>
                <p><strong>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam eaque.</strong></p>
                <p> Itaque earum rerum hic tenetur a sapiente delectus, ut aut reiciendis voluptatibus maiores alias consequatur aut repellat.</p>
                <p><em>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et.</em></p>
                <p><small>Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt.</small></p>
            </div>
            	
            <!-- Heading Examples -->
        	<div class="span6">
                <div class="headline"><h3>Heading Examples from H1 to H6</h3></div>
                <h1>h1. Heading 1</h1>
                <h2>h2. Heading 2</h2>
                <h3>h3. Heading 3</h3>
                <h4>h4. Heading 4</h4>
                <h5>h5. Heading 5</h5>
                <h6>h6. Heading 6</h6>
            </div>
        </div><!--/row-fluid-->
        <!--//End Paragraph and Heading Examples -->

        <!-- Lists and Descriptions -->
        <div class="row-fluid margin-bottom-20">
            <!-- Unordered Lists -->
        	<div class="span3">
                <div class="headline"><h3>Unordered Lists</h3></div>
                <ul>
                    <li>Lorem ipsum dolor sit amet</li>
                    <li>Consectetur adipiscing elit</li>
                    <li>Integer molestie lorem at massa</li>
                    <li>Facilisis in pretium nisl aliquet</li>
                    <li>Nulla volutpat aliquam velit
                        <ul>
                            <li>Phasellus iaculis neque</li>
                            <li>Purus sodales ultricies</li>
                            <li>Vestibulum laoreet porttitor sem</li>
                            <li>Ac tristique libero volutpat at</li>
                        </ul>
                    </li>
                    <li>Faucibus porta lacus fringilla vel</li>
                    <li>Aenean sit amet erat nunc</li>
                    <li>Eget porttitor lorem</li>
	            </ul>
            </div>

            <!-- Unstyled Lists -->
        	<div class="span3">
                <div class="headline"><h3>Unstyled Lists</h3></div>
                <ul class="unstyled">
                    <li>Lorem ipsum dolor sit amet</li>
                    <li>Consectetur adipiscing elit</li>
                    <li>Integer molestie lorem at massa</li>
                    <li>Facilisis in pretium nisl aliquet</li>
                    <li>Nulla volutpat aliquam velit
                        <ul>
                            <li>Phasellus iaculis neque</li>
                            <li>Purus sodales ultricies</li>
                            <li>Vestibulum laoreet porttitor sem</li>
                            <li>Ac tristique libero volutpat at</li>
                        </ul>
                    </li>
                    <li>Faucibus porta lacus fringilla vel</li>
                    <li>Aenean sit amet erat nunc</li>
                    <li>Eget porttitor lorem</li>
	            </ul>
            </div>                

            <!-- Ordered Lists -->
        	<div class="span3">
                <div class="headline"><h3>Ordered Lists</h3></div>
                <ol>
                    <li>Lorem ipsum dolor sit amet</li>
                    <li>Consectetur adipiscing elit</li>
                    <li>Integer molestie lorem at massa</li>
                    <li>Facilisis in pretium nisl aliquet</li>
                    <li>Nulla volutpat aliquam velit
                        <ol>
                            </ol></li><li>Phasellus iaculis neque</li>
                            <li>Purus sodales ultricies</li>
                            <li>Vestibulum laoreet porttitor sem</li>
                            <li>Ac tristique libero volutpat at</li>
                        
                    
                    <li>Faucibus porta lacus fringilla vel</li>
                    <li>Aenean sit amet erat nunc</li>
                    <li>Eget porttitor lorem</li>
	            
            </ol></div>

            <!-- Unstyled Lists -->
        	<div class="span3">
                <div class="headline"><h3>Unstyled Lists</h3></div>
                <ol class="unstyled">
                    <li>Lorem ipsum dolor sit amet</li>
                    <li>Consectetur adipiscing elit</li>
                    <li>Integer molestie lorem at massa</li>
                    <li>Facilisis in pretium nisl aliquet</li>
                    <li>Nulla volutpat aliquam velit
                        <ol>
                            </ol></li><li>Phasellus iaculis neque</li>
                            <li>Purus sodales ultricies</li>
                            <li>Vestibulum laoreet porttitor sem</li>
                            <li>Ac tristique libero volutpat at</li>
                        
                    
                    <li>Faucibus porta lacus fringilla vel</li>
                    <li>Aenean sit amet erat nunc</li>
                    <li>Eget porttitor lorem</li>
	            
            </ol></div>
        </div><!--/row-fluid-->

        <!-- Inline Lists -->
        <div class="row-fluid margin-bottom-20">
            <div class="headline"><h3>Inline Lists</h3></div>
            <ul class="inline">
                <li>1-Lorem ipsum</li>
                <li>2-Consectetur elit</li>
                <li>3-Integer molestie</li>
                <li>4-Facilisis in </li>
                <li>5-Nulla volutpat</li>
                <li>6-Faucibus porta</li>
                <li>7-Aenean sit</li>
                <li>8-Eget porttitor</li>
            </ul>
        </div><!--/row-fluid-->
        <!--//End Lists and Descriptions -->

        <!-- Descriptions -->
        <div class="row-fluid margin-bottom-20">
        	<div class="span6">
	            <!-- Description -->
                <div class="headline"><h3>Description</h3></div>
                <dl>
                    <dt>Description lists</dt>
                    <dd>A description list is perfect for defining terms.</dd>
                    <dt>Euismod</dt>
                    <dd>Vestibulum id ligula porta felis euismod semper eget lacinia odio sem nec elit.</dd>
                    <dd>Donec id elit non mi porta gravida at eget metus.</dd>
                    <dt>Malesuada porta</dt>
                    <dd>Etiam porta sem malesuada magna mollis euismod.</dd>
                </dl>
            </div>

            <!-- Horizontal Description -->
        	<div class="span6">
                <div class="headline"><h3>Horizontal Description</h3></div>
                <dl class="dl-horizontal">
                    <dt>Description lists</dt>
                    <dd>A description list is perfect for defining terms.</dd>
                    <dt>Euismod</dt>
                    <dd>Vestibulum id ligula porta felis euismod semper eget lacinia odio sem nec elit.</dd>
                    <dd>Donec id elit non mi porta gravida at eget metus.</dd>
                    <dt>Malesuada porta</dt>
                    <dd>Etiam porta sem malesuada magna mollis euismod.</dd>
                    <dt>Felis euismod semper eget lacinia</dt>
                    <dd>Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</dd>
                </dl>
            </div>
        </div><!--/row-fluid-->
        <!--//End Descriptions -->
        
        <!-- Emphasis Classes -->
        <div class="row-fluid margin-bottom-20">
            <div class="span6">
                <div class="headline"><h3>Emphasis Classes</h3></div>
                <p class="muted">Fusce dapibus, tellus ac cursus commodo, tortor mauris nibh.</p>
                <p class="text-warning">Etiam porta sem malesuada magna mollis euismod.</p>
                <p class="text-error">Donec ullamcorper nulla non metus auctor fringilla.</p>
                <p class="text-info">Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis.</p>
                <p class="text-success">Duis mollis, est non commodo luctus, nisi erat porttitor ligula.</p>                    
            </div>
            <div class="span6">
                <div class="headline"><h3>Blockquote Options in Blocks</h3></div>
                <blockquote>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit posuere erat a ante.</p>
                    <small>Someone famous <cite title="Source Title">Source Title</cite></small>
                </blockquote>                    
                <blockquote class="hero">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing duis mollis, est non commodo luctus elit posuere erat a ante.</p>
                    <small class="color-green">Someone famous <cite title="Source Title">Source Title</cite></small>
                </blockquote>                    
            </div>
        </div><!--/row-fluid-->
        <!--//End Emphasis Classes -->

        <!-- Blockquote Options -->
        <div class="row-fluid">
            <div class="headline"><h3>Blockquote Options</h3></div>
            <blockquote>
                <h2 class="color-green">Etiam porta sem malesuada magna mollis euismod</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing duis mollis, est non commodo luctus elit posuere erat a ante. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis lorem ipsum dolor sit amet, consectetur adipiscing.</p>
            </blockquote>                    
            <blockquote>
                <p><em>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et. Duis mollis, est non commodo luctus, nisi erat porttitor ligula.</em></p>
                <small class="color-green"><em>Etiam porta sem malesuada</em></small>
            </blockquote>                    
            <blockquote class="margin-bottom-50">
                <h2>Etiam porta sem malesuada magna mollis euismod</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing duis mollis, est non commodo luctus elit posuere erat a ante. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis lorem ipsum dolor sit amet, consectetur adipiscing.</p>
            </blockquote>
            
            <p><strong>Add a class <code>hero</code> to do green border color</strong></p>                    
            <blockquote class="hero">
                <p><em>Lorem ipsum dolor sit amet, consectetur adipiscing duis mollis, est non commodo luctus elit posuere erat a ante. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis lorem ipsum dolor sit amet, consectetur adipiscing.</em></p>
                <small><em>Etiam porta sem malesuada</em></small>
            </blockquote>                    
            <blockquote class="hero pagination-centered">
                <h2 class="color-green">Etiam porta sem malesuada magna mollis euismod</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing duis mollis, est non commodo luctus elit posuere erat a ante. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis lorem ipsum dolor sit amet, consectetur adipiscingsit amet . Lorem ipsum dolor sit amet consectetur.</p>
            </blockquote>                    
        </div><!--/row-fluid-->
        <!--//End Blockquote Options -->            
    </div><!--/row-fluid-->        
</div><!--/container-->		
<!--=== End Content Part ===-->

<!-- JS Global Compulsory -->           
<script type="text/javascript" src="/assets/content/jquery-1.8.2.min.js"></script>
<script type="text/javascript" src="/assets/content/modernizr.custom.js"></script>        
<script type="text/javascript" src="/assets/content/plugins/bootstrap/js/bootstrap.min.js"></script> 
<!-- JS Plugins -->     
<%= yield :js_plugin %>      

<!-- JS Level -->
<%= yield :js_level %>           

<!-- JS Inicializer -->
<%= yield :js_inicializer %>