<!--=== Breadcrumbs ===-->
<div class="row-fluid breadcrumbs margin-bottom-20">
	<div class="container">
        <h1 class="pull-left">Components</h1>
        <ul class="pull-right breadcrumb">
            <li><a href="index.html">Home</a> <span class="divider">/</span></li>
            <li><a href="">Features</a> <span class="divider">/</span></li>
            <li class="active">Components</li>
        </ul>
    </div><!--/container-->
</div><!--/breadcrumbs-->
<!--=== End Breadcrumbs ===-->

<!--=== Content Part ===-->
<div class="container">		
	<div class="row-fluid">
        <div class="row-fluid margin-bottom-20">
            <div class="headline"><h3>Alerts</h3></div>
            <div class="alert">
                <button type="button" class="close" data-dismiss="alert">&times;</button>
                <strong>Warning!</strong> Best check yo self, you're not looking too good.
            </div>
            <div class="alert alert-error">
                <button type="button" class="close" data-dismiss="alert">&times;</button>
                <strong>Oh snap!</strong> Change a few things up and try submitting again.
            </div>                
            <div class="alert alert-success">
                <button type="button" class="close" data-dismiss="alert">&times;</button>
                <strong>Well done!</strong> Change a few things up and try submitting again.
            </div>                
            <div class="alert alert-info">
                <button type="button" class="close" data-dismiss="alert">&times;</button>
                <strong>Heads up!</strong> Change a few things up and try submitting again.
            </div>                

            <div class="headline"><h3>Alerts with longer messages</h3></div>
            <p><strong>For longer messages, increase the padding on the top and bottom of the alert wrapper by adding</strong> <code>.alert-block</code></p>                    
            <div class="alert alert-block">
                <button type="button" class="close" data-dismiss="alert">&times;</button>
                <h4>Warning!</h4>
                At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga.
			</div>                
            <div class="alert alert-success">
                <button type="button" class="close" data-dismiss="alert">&times;</button>
                <h4>Well done!</h4>
                At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga.
			</div>                
        </div><!--/row-fluid-->

        <div class="row-fluid">
        	<div class="span6">
                <div class="headline"><h3>Labels and Badges </h3></div>
                <p>
                    <span class="badge">1</span>
                    <span class="badge badge-success">2</span>
                    <span class="badge badge-warning">4</span>
                    <span class="badge badge-important">6</span>
                    <span class="badge badge-info">8</span>
                    <span class="badge badge-inverse">10</span>
                </p>
                <p>
                    <span class="label">Default</span>
                    <span class="label label-success">Success</span>
                    <span class="label label-warning">Warning</span>
                    <span class="label label-important">Important</span>
                    <span class="label label-info">Info</span>
                    <span class="label label-inverse">Inverse</span>
                </p>

                <p>
                    <span class="label label-warning"><i class="icon-bookmark"></i> At vero eos et sunt</span>
                    <span class="label label-info"><i class="icon-asterisk"></i> Similique atin culpa</span>
                    <span class="label label-success"><i class="icon-flag"></i> Voluptatum deleniti</span>
                </p>
                <p>
                    <span class="badge badge-important"><i class="icon-cloud"></i> At vero eos et sunt</span>
                    <span class="badge badge-inverse"><i class="icon-coffee"></i> Similique atin culpa</span>
                    <span class="badge"><i class="icon-envelope-alt"></i> Icon-envelope-alt</span>
                </p>

                <p class="muted">
                    <span class="label"><i class="icon-comments"></i></span> 
                    <strong>dignissimos et ducimus similique sunt</strong>
                </p>                
                <p class="text-success">
                    <span class="label label-success"><i class="icon-bell-alt"></i></span> 
                    <strong>Similique sunt dignissimos et ducimus</strong>
                </p>
                <p class="text-warning">
                    <span class="label label-warning"><i class="icon-ok"></i></span> 
                    <strong>Similique sunt in culpa qui mollitia</strong>
                </p>
                <p class="text-error">
                    <span class="label label-important"><i class="icon-signal"></i></span> 
                    <strong>Deserunt mollitia animi sunt dignissim</strong>
                </p>
                <p>
                    <span class="label label-inverse"><i class="icon-leaf"></i></span> 
                    <strong>At vero eos eto roficia qui </strong>
                </p>
                <p class="text-info">
                    <span class="label label-info"><i class="icon-volume-up"></i></span> 
                    <strong>Officia qui deserunt in culpa qui</strong>
                </p>
            </div><!--/span6-->
            
			<div class="span6">
                <div class="headline"><h3>Progress Bars</h3></div>
                <div class="progress">
                    <div class="bar" style="width: 60%;"></div>
                </div>
                <div class="progress progress-striped">
                    <div class="bar" style="width: 20%;"></div>
                </div>
                <div class="progress progress-striped active">
                    <div class="bar" style="width: 40%;"></div>
                </div>
                <div class="progress">
                    <div class="bar bar-success" style="width: 35%;"></div>
                    <div class="bar bar-warning" style="width: 20%;"></div>
                    <div class="bar bar-danger" style="width: 10%;"></div>
                </div>
                <div class="progress progress-info">
                    <div class="bar" style="width: 20%"></div>
                </div>
                <div class="progress progress-success">
                    <div class="bar" style="width: 40%"></div>
                </div>
                <div class="progress progress-warning">
                    <div class="bar" style="width: 60%"></div>
                </div>
                <div class="progress progress-danger">
                    <div class="bar" style="width: 80%"></div>
                </div>
            </div><!--/span6-->
        </div><!--/row-fluid-->
        
        <div class="row-fluid">
            <div class="headline"><h3>Progress Bars (full width)</h3></div>
            <div class="progress progress-info progress-striped">
                <div class="bar" style="width: 20%"></div>
            </div>
            <div class="progress progress-success progress-striped">
                <div class="bar" style="width: 40%"></div>
            </div>
            <div class="progress progress-warning progress-striped">
                <div class="bar" style="width: 60%"></div>
            </div>
            <div class="progress progress-danger progress-striped">
                <div class="bar" style="width: 80%"></div>
            </div>            
            <div class="progress">
                <div class="bar bar-success" style="width: 35%;"></div>
                <div class="bar bar-info" style="width: 20%;"></div>
                <div class="bar bar-warning" style="width: 10%;"></div>
            </div>                
        </div><!--/row-fluid-->
	</div><!--/row-fluid-->
</div><!--/container-->		
<!--=== End Content Part ===-->