<% content_for :css_plugin do %>
    <link rel="stylesheet" href="/assets/content/plugins/font-awesome/css/font-awesome.css" />
    <link rel="stylesheet" href="/assets/content/plugins/flexslider/flexslider.css" type="text/css" media="screen" />          
<% end %>

<% content_for :js_plugin do %>
    <link rel="stylesheet" href="assets/plugins/font-awesome/css/font-awesome.css" />
    <link rel="stylesheet" href="assets/plugins/flexslider/flexslider.css" type="text/css" media="screen" />
<% end %>

<% content_for :css_theme do %>
    <link rel="stylesheet" href="assets/css/themes/default.css" id="style_color" />
<% end %>


<!--=== Breadcrumbs ===-->
<div class="row-fluid breadcrumbs margin-bottom-20">
	<div class="container">
        <h1 class="pull-left">Navigation</h1>
        <ul class="pull-right breadcrumb">
            <li><a href="index.html">Home</a> <span class="divider">/</span></li>
            <li><a href="">Features</a> <span class="divider">/</span></li>
            <li class="active">Navigation</li>
        </ul>
    </div><!--/container-->
</div><!--/breadcrumbs-->
<!--=== End Breadcrumbs ===-->

<!--=== Content Part ===-->
<div class="container">		
	<div class="row-fluid">
        <!-- Paginations -->
        <div class="row-fluid margin-bottom-20">
        	<!-- Pagination Left -->
            <div class="headline"><h3>Pagination Left</h3></div>
            <div class="pagination">
            	<p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga.</p>
                <ul>
                    <li><a href="#">Prev</a></li>
                    <li><a href="#">1</a></li>
                    <li><a href="#">2</a></li>
                    <li><a href="#">3</a></li>
                    <li><a href="#">4</a></li>
                    <li><a href="#">5</a></li>
                    <li><a href="#">6</a></li>
                    <li><a href="#">7</a></li>
                    <li><a href="#">8</a></li>
                    <li><a href="#">Next</a></li>
                </ul>
            </div>                    

        	<!-- Pagination Right -->
            <div class="headline"><h3>Pagination Right</h3></div>
            <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga. Et harum quidem rerum facilis est et. Ut non libero consectetur adipiscing elit magna.</p>
            <div class="pagination pagination-right">
                <ul>
                    <li><a href="#">Prev</a></li>
                    <li><a href="#">1</a></li>
                    <li><a href="#">2</a></li>
                    <li><a href="#">3</a></li>
                    <li><a href="#">4</a></li>
                    <li><a href="#">5</a></li>
                    <li><a href="#">6</a></li>
                    <li><a href="#">7</a></li>
                    <li><a href="#">8</a></li>
                    <li><a href="#">Next</a></li>
                </ul>
            </div> 

        	<!-- Pagination Center -->
            <div class="headline"><h3>Pagination Center</h3></div>
            <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga. Et harum quidem rerum facilis est et. Ut non libero consectetur adipiscing elit magna.</p>                                   
            <div class="pagination pagination-centered">
                <ul>
                    <li><a href="#">Prev</a></li>
                    <li><a href="#">1</a></li>
                    <li><a href="#">2</a></li>
                    <li><a href="#">3</a></li>
                    <li><a href="#">4</a></li>
                    <li><a href="#">5</a></li>
                    <li><a href="#">6</a></li>
                    <li><a href="#">7</a></li>
                    <li><a href="#">8</a></li>
                    <li><a href="#">Next</a></li>
                </ul>
            </div>                    

        	<!-- Pagination Sizes -->
            <div class="headline"><h3>Pagination Disabled and Active States</h3></div>
            <div class="pagination">
                <ul>
                    <li class="disabled"><a href="#">Prev</a></li>
                    <li><a href="#">1</a></li>
                    <li><a href="#">2</a></li>
                    <li class="active"><a href="#">3</a></li>
                    <li><a href="#">4</a></li>
                    <li><a href="#">5</a></li>
                    <li><a href="#">Next</a></li>
                </ul>
            </div>

        	<!-- Pagination Sizes -->
            <div class="headline"><h3>Pagination Sizes</h3></div>
            <div class="pagination pagination-large">
                <ul>
                    <li><a href="#">«</a></li>
                    <li><a href="#">1</a></li>
                    <li><a href="#">2</a></li>
                    <li><a href="#">3</a></li>
                    <li><a href="#">4</a></li>
                    <li><a href="#">5</a></li>
                    <li><a href="#">»</a></li>
                </ul>
            </div>
            <div class="pagination">
                <ul>
                    <li><a href="#">«</a></li>
                    <li><a href="#">1</a></li>
                    <li><a href="#">2</a></li>
                    <li><a href="#">3</a></li>
                    <li><a href="#">4</a></li>
                    <li><a href="#">5</a></li>
                    <li><a href="#">»</a></li>
                </ul>
            </div>
            <div class="pagination pagination-small">
                <ul>
                    <li><a href="#">«</a></li>
                    <li><a href="#">1</a></li>
                    <li><a href="#">2</a></li>
                    <li><a href="#">3</a></li>
                    <li><a href="#">4</a></li>
                    <li><a href="#">5</a></li>
                    <li><a href="#">»</a></li>
                </ul>
            </div>
            <div class="pagination pagination-mini">
                <ul>
                    <li><a href="#">«</a></li>
                    <li><a href="#">1</a></li>
                    <li><a href="#">2</a></li>
                    <li><a href="#">3</a></li>
                    <li><a href="#">4</a></li>
                    <li><a href="#">5</a></li>
                    <li><a href="#">»</a></li>
                </ul>
            </div>
        </div><!--/row-fluid-->
        <!--//End Paginations -->
        
        <!-- Pager Examples -->
        <div class="row-fluid">
            <!-- Default Pager -->
            <div class="headline"><h3>Default Pager</h3></div>
			<p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga. Et harum quidem rerum facilis est et. Ut non libero consectetur adipiscing elit magna.</p>
            <ul class="pager">
                <li><a href="#">Previous</a></li>
                <li><a href="#">Next</a></li>
            </ul>            

            <!-- Aligned Pager -->
            <div class="headline"><h3>Aligned Pager</h3></div>
			<p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturilibero non provident, similique sunt in culpa qui officia deserunt mollitia animi, id est laborum consectetur adipiscing elit magna.</p>
            <ul class="pager">
                <li class="previous">
                    <a href="#">&larr; Older</a>
                </li>
                <li class="next">
	                <a href="#">Newer &rarr;</a>
                </li>
            </ul>

            <!-- Aligned Pager -->
            <div class="headline"><h3>Optional Disabled State</h3></div>
			<p>Pager links also use the general <code>.disabled</code> utility class from the pagination.</p>
            <ul class="pager">
                <li class="previous disabled">
                    <a href="#">&larr; Older</a>
                </li>
                <li class="next">
	                <a href="#">Newer &rarr;</a>
                </li>
            </ul>
        </div><!--/row-fluid-->
        <!--//End Pager Examples -->
	</div><!--/row-fluid-->        
</div><!--/container-->		
<!--=== End Content Part ===-->

<!-- JS Global Compulsory -->           
<script type="text/javascript" src="/assets/content/jquery-1.8.2.min.js"></script>
<script type="text/javascript" src="/assets/content/modernizr.custom.js"></script>        
<script type="text/javascript" src="/assets/content/plugins/bootstrap/js/bootstrap.min.js"></script> 
<!-- JS Plugins -->     
<%= yield :js_plugin %>      

<!-- JS Level -->
<%= yield :js_level %>           

<!-- JS Inicializer -->
<%= yield :js_inicializer %>