<% content_for :css_plugin do %>
    <link rel="stylesheet" href="/assets/content/plugins/font-awesome/css/font-awesome.css" />
    <link rel="stylesheet" href="/assets/content/plugins/flexslider/flexslider.css" type="text/css" media="screen" />          
<% end %>

<% content_for :js_plugin do %>
    <link rel="stylesheet" href="/assets/content/plugins/font-awesome/css/font-awesome.css" />
    <link rel="stylesheet" href="/assets/content/plugins/portfolioSorting/css/sorting.css" />
    <link rel="stylesheet" href="/assets/content/plugins/bxslider/jquery.bxslider.css" />
    <link rel="stylesheet" href="/assets/content/plugins/flexslider/flexslider.css" type="text/css" media="screen" /> 
<% end %>

<% content_for :css_theme do %>
    <link rel="stylesheet" href="/assets/content/default.css" id="style_color" />
<% end %>

<!--=== Breadcrumbs ===-->
<div class="breadcrumbs margin-bottom-60">
	<div class="container">
        <h1 class="pull-left">Pricing Page</h1>
        <ul class="pull-right breadcrumb">
            <li><a href="index.html">Home</a> <span class="divider">/</span></li>
            <li><a href="">Pages</a> <span class="divider">/</span></li>
            <li class="active">Pricing</li>
        </ul>
    </div><!--/container-->
</div><!--/breadcrumbs-->
<!--=== End Breadcrumbs ===-->

<!--=== Content Part ===-->
<div class="container">		
	<div class="row-fluid">
        <!-- Pricing -->
        <div class="row-fluid margin-bottom-40">
        	<div class="span3 pricing hover-effect">
            	<div class="pricing-head">
                	<h3>Begginer <span>Officia deserunt mollitia</span></h3>
                    <h4><i>$</i>5<i>.49</i> <span>Per Month</span></h4>
                </div>
                <ul class="pricing-content unstyled">
                    <li><i class="icon-tags"></i> At vero eos</li>
                    <li><i class="icon-asterisk"></i> No Support</li>
                    <li><i class="icon-heart"></i> Fusce condimentum</li>
                    <li><i class="icon-star"></i> Ut non libero</li>
                    <li><i class="icon-shopping-cart"></i> Consecte adiping elit</li>
                </ul>
            	<div class="pricing-footer">
                	<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut non libero magna psum olor .</p>
                	<button type="submit">Order Now</button>
                </div>
            </div>
        	<div class="span3 pricing hover-effect">
            	<div class="pricing-head">
                	<h3>Pro Unify <span>Officia deserunt mollitia</span></h3>
                    <h4><i>$</i>8<i>.69</i> <span>Per Month</span></h4>
                </div>
                <ul class="pricing-content unstyled">
                    <li><i class="icon-tags"></i> At vero eos</li>
                    <li><i class="icon-asterisk"></i> No Support</li>
                    <li><i class="icon-heart"></i> Fusce condimentum</li>
                    <li><i class="icon-star"></i> Ut non libero</li>
                    <li><i class="icon-shopping-cart"></i> Consecte adiping elit</li>
                </ul>
            	<div class="pricing-footer">
                	<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut non libero magna psum olor .</p>
                	<button type="submit">Order Now</button>
                </div>
            </div>
        	<div class="span3 pricing hover-effect">
            	<div class="pricing-head">
                	<h3>Expert <span>Officia deserunt mollitia</span></h3>
                    <h4><i>$</i>13<i>.99</i> <span>Per Month</span></h4>
                </div>
                <ul class="pricing-content unstyled">
                    <li><i class="icon-tags"></i> At vero eos</li>
                    <li><i class="icon-asterisk"></i> No Support</li>
                    <li><i class="icon-heart"></i> Fusce condimentum</li>
                    <li><i class="icon-star"></i> Ut non libero</li>
                    <li><i class="icon-shopping-cart"></i> Consecte adiping elit</li>
                </ul>
            	<div class="pricing-footer">
                	<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut non libero magna psum olor .</p>
                	<button type="submit">Order Now</button>
                </div>
            </div>
        	<div class="span3 pricing hover-effect">
            	<div class="pricing-head">
                	<h3>Hi-Tech<span>Officia deserunt mollitia</span></h3>
                    <h4><i>$</i>99<i>.00</i> <span>Per Month</span></h4>
                </div>
                <ul class="pricing-content unstyled">
                    <li><i class="icon-tags"></i> At vero eos</li>
                    <li><i class="icon-asterisk"></i> No Support</li>
                    <li><i class="icon-heart"></i> Fusce condimentum</li>
                    <li><i class="icon-star"></i> Ut non libero</li>
                    <li><i class="icon-shopping-cart"></i> Consecte adiping elit</li>
                </ul>
            	<div class="pricing-footer">
                	<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut non libero magna psum olor .</p>
                	<button type="submit">Order Now</button>
                </div>
            </div>
        </div><!--/row-fluid-->
        <!--//End Pricing -->

		<hr class="margin-bottom-60" />

        <!-- Pricing "No Spacing"-->
        <div class="row-fluid no-space-pricing">
        	<div class="span3 pricing">
            	<div class="pricing-head">
                	<h3>Begginer <span>Officia deserunt mollitia</span></h3>
                    <h4><i>$</i>5<i>.49</i> <span>Per Month</span></h4>
                </div>
                <ul class="pricing-content unstyled">
                    <li><i class="icon-tags"></i> At vero eos</li>
                    <li><i class="icon-asterisk"></i> No Support</li>
                    <li><i class="icon-heart"></i> Fusce condimentum</li>
                    <li><i class="icon-star"></i> Ut non libero</li>
                    <li><i class="icon-shopping-cart"></i> Consecte adiping elit</li>
                </ul>
            	<div class="pricing-footer">
                	<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut non libero magna psum olor .</p>
                	<button type="submit">Order Now</button>
                </div>
            </div>
        	<div class="span3 pricing">
            	<div class="pricing-head">
                	<h3>Pro Unify <span>Officia deserunt mollitia</span></h3>
                    <h4><i>$</i>8<i>.69</i> <span>Per Month</span></h4>
                </div>
                <ul class="pricing-content unstyled">
                    <li><i class="icon-tags"></i> At vero eos</li>
                    <li><i class="icon-asterisk"></i> No Support</li>
                    <li><i class="icon-heart"></i> Fusce condimentum</li>
                    <li><i class="icon-star"></i> Ut non libero</li>
                    <li><i class="icon-shopping-cart"></i> Consecte adiping elit</li>
                </ul>
            	<div class="pricing-footer">
                	<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut non libero magna psum olor .</p>
                	<button type="submit">Order Now</button>
                </div>
            </div>
        	<div class="span3 pricing">
            	<div class="pricing-head">
                	<h3>Expert <span>Officia deserunt mollitia</span></h3>
                    <h4><i>$</i>13<i>.99</i> <span>Per Month</span></h4>
                </div>
                <ul class="pricing-content unstyled">
                    <li><i class="icon-tags"></i> At vero eos</li>
                    <li><i class="icon-asterisk"></i> No Support</li>
                    <li><i class="icon-heart"></i> Fusce condimentum</li>
                    <li><i class="icon-star"></i> Ut non libero</li>
                    <li><i class="icon-shopping-cart"></i> Consecte adiping elit</li>
                </ul>
            	<div class="pricing-footer">
                	<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut non libero magna psum olor .</p>
                	<button type="submit">Order Now</button>
                </div>
            </div>
        	<div class="span3 pricing">
            	<div class="pricing-head">
                	<h3>Hi-Tech<span>Officia deserunt mollitia</span></h3>
                    <h4><i>$</i>99<i>.00</i> <span>Per Month</span></h4>
                </div>
                <ul class="pricing-content unstyled">
                    <li><i class="icon-tags"></i> At vero eos</li>
                    <li><i class="icon-asterisk"></i> No Support</li>
                    <li><i class="icon-heart"></i> Fusce condimentum</li>
                    <li><i class="icon-star"></i> Ut non libero</li>
                    <li><i class="icon-shopping-cart"></i> Consecte adiping elit</li>
                </ul>
            	<div class="pricing-footer">
                	<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut non libero magna psum olor .</p>
                	<button type="submit">Order Now</button>
                </div>
            </div>
        </div><!--/row-fluid-->
        <!--//End Pricing "No Spacing" -->
    </div><!--/row-fluid-->
</div><!--/container-->		
<!--=== End Content Part ===-->

<!-- JS Global Compulsory -->           
<script type="text/javascript" src="/assets/content/jquery-1.8.2.min.js"></script>
<script type="text/javascript" src="/assets/content/modernizr.custom.js"></script>        
<script type="text/javascript" src="/assets/content/plugins/bootstrap/js/bootstrap.min.js"></script> 
<!-- JS Plugins -->     
<%= yield :js_plugin %>      

<!-- JS Level -->
<%= yield :js_level %>           

<!-- JS Inicializer -->
<%= yield :js_inicializer %>