<!--=== Breadcrumbs ===-->
<div class="breadcrumbs margin-bottom-40">
	<div class="container">
        <h1 class="color-green pull-left">Portfolio 4 Columns</h1>
        <ul class="pull-right breadcrumb">
            <li><a href="index.html">Home</a> <span class="divider">/</span></li>
            <li><a href="portfolio.html">Portfolio</a> <span class="divider">/</span></li>
            <li class="active">Portfolio 4 Columns</li>
        </ul>
    </div><!--/container-->
</div><!--/breadcrumbs-->
<!--=== End Breadcrumbs ===-->

<!--=== Content Part ===-->
<div class="container portfolio-columns portfolio-responsive"> 	
	<div class="row-fluid"> 
        <div class="view view-tenth span3">
        	<img src="/assets/content/carousel/1.jpg" alt="" />
            <div class="mask">
                <h2>Portfolio Item1</h2>
                <a href="portfolio_item.html" class="info">Read More</a>
            </div>
        </div>
        <div class="view view-tenth span3">
        	<img src="/assets/content/carousel/2.jpg" alt="" />
            <div class="mask">
                <h2>Portfolio Item2</h2>
                <a href="portfolio_item.html" class="info">Read More</a>
            </div>
        </div>
        <div class="view view-tenth span3">
        	<img src="/assets/content/carousel/3.jpg" alt="" />
            <div class="mask">
                <h2>Portfolio Item3</h2>
                <a href="portfolio_item.html" class="info">Read More</a>
            </div>
        </div>
        <div class="view view-tenth span3">
        	<img src="/assets/content/carousel/4.jpg" alt="" />
            <div class="mask">
                <h2>Portfolio Item4</h2>
                <a href="portfolio_item.html" class="info">Read More</a>
            </div>
        </div>
    </div><!--/row-fluid-->         
	<div class="row-fluid"> 
        <div class="view view-tenth span3">
        	<img src="/assets/content/carousel/5.jpg" alt="" />
            <div class="mask">
                <h2>Portfolio Item1</h2>
                <a href="portfolio_item.html" class="info">Read More</a>
            </div>
        </div>
        <div class="view view-tenth span3">
        	<img src="/assets/content/carousel/6.jpg" alt="" />
            <div class="mask">
                <h2>Portfolio Item2</h2>
                <a href="portfolio_item.html" class="info">Read More</a>
            </div>
        </div>
        <div class="view view-tenth span3">
        	<img src="/assets/content/carousel/7.jpg" alt="" />
            <div class="mask">
                <h2>Portfolio Item3</h2>
                <a href="portfolio_item.html" class="info">Read More</a>
            </div>
        </div>
        <div class="view view-tenth span3">
        	<img src="/assets/content/carousel/8.jpg" alt="" />
            <div class="mask">
                <h2>Portfolio Item4</h2>
                <a href="portfolio_item.html" class="info">Read More</a>
            </div>
        </div>
    </div><!--/row-fluid-->         
	<div class="row-fluid"> 
        <div class="view view-tenth span3">
        	<img src="/assets/content/carousel/9.jpg" alt="" />
            <div class="mask">
                <h2>Portfolio Item1</h2>
                <a href="portfolio_item.html" class="info">Read More</a>
            </div>
        </div>
        <div class="view view-tenth span3">
        	<img src="/assets/content/carousel/10.jpg" alt="" />
            <div class="mask">
                <h2>Portfolio Item2</h2>
                <a href="portfolio_item.html" class="info">Read More</a>
            </div>
        </div>
        <div class="view view-tenth span3">
        	<img src="/assets/content/carousel/3.jpg" alt="" />
            <div class="mask">
                <h2>Portfolio Item3</h2>
                <a href="portfolio_item.html" class="info">Read More</a>
            </div>
        </div>
        <div class="view view-tenth span3">
        	<img src="/assets/content/carousel/4.jpg" alt="" />
            <div class="mask">
                <h2>Portfolio Item4</h2>
                <a href="portfolio_item.html" class="info">Read More</a>
            </div>
        </div>
    </div><!--/row-fluid-->         
</div><!--/container-->
<!--=== End Content Part ===-->