<% content_for :head_top do %>
    <%= render "content/head_top_languaje" %>
<% end %>

<% content_for :head_logo do %>
    <img id="logo-header" src="/assets/content/logo1-default.png" alt="Logo" />
<% end %>

<% content_for :css_global_option do %>
    <link rel="stylesheet" href="/assets/content/header1.css" />
<% end %>

<% content_for :css_plugin do %>
    <link rel="stylesheet" href="/assets/content/plugins/font-awesome/css/font-awesome.css" />
    <link rel="stylesheet" href="/assets/content/plugins/fancybox/source/jquery.fancybox.css" />           
    <link rel="stylesheet" href="/assets/content/plugins/apple-style/css/apple-style.css" type="text/css" />
    <link rel="stylesheet" href="/assets/content/plugins/flexslider/flexslider.css" type="text/css" media="screen" />      
    <link rel="stylesheet" href="/assets/content/effects.css" />
<% end %>

<% content_for :css_theme do %>
    <link rel="stylesheet" href="/assets/content/default.css" id="style_color" />
<% end %>


<!--=== Slider ===-->
<div id="sequence-theme">
    <ul class="controls">
        <li class="status"></li>
        <li class="prev"></li>
        <li class="pause"></li>
        <li class="next"></li>
    </ul>
    <div id="sequence">
        <ul>
            <li class="animate-in">
                <div class="intro">
                    <h2>Built using Sequence.js</h2>
                    <h3>The Responsive Slider with Advanced CSS3 Transitions</h3>
                </div>
                <img class="iphone" src="/assets/content/plugins/apple-style/images/iphone.png" alt="iPhone4" />
                <img class="iphone-shadow" src="/assets/content/apple-style/images/iphone-shadow.png" alt="" />
            </li>
            <li>
                <img class="ipad" src="/assets/content/plugins/apple-style/images/ipad.png" alt="iPad" />
                <div class="slide2">
                    <h2>Creative Control</h2>
                    <p>Create unique sliders using CSS3 transitions</p>
                </div>
                <img class="ipad-shadow" src="/assets/content/plugins/apple-style/images/ipad-shadow.png" alt="" />
            </li>
            <li>
                <div class="slide3">
                    <h2>Cutting Edge</h2>
                    <p>Supports modern browsers, old browsers (IE8+), touch devices..</p>
                </div>
                <img class="iphone2" src="/assets/content/plugins/apple-style/images/iphone.png" alt="" />
                <img class="iphone2-shadow" src="/assets/content/plugins/apple-style/images/iphone-shadow.png" alt="" />
                <img class="iphone3" src="/assets/content/plugins/apple-style/images/iphone.png" alt="" />
                <img class="iphone3-shadow" src="/assets/content/plugins/apple-style/images/iphone-shadow.png" alt="" />
                <img class="iphone4" src="/assets/content/plugins/apple-style/images/iphone.png" alt="" />
                <img class="iphone4-shadow" src="/assets/content/plugins/apple-style/images/iphone-shadow.png" alt="" />
            </li>
        </ul>
    </div>
</div><!--/sequence-theme-->
<!--=== End Slider ===-->

<!-- Purchase Block -->
<div class="row-fluid purchase margin-bottom-30">
    <div class="container">
		<div class="span9">
            <span>Unify is a clean and fully responsive incredible Template.</span>
            <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi  vehicula sem ut volutpat. Ut non libero magna fusce condimentum eleifend enim a feugiat.</p>
        </div>
        <a href="https://wrapbootstrap.com/theme/unify-responsive-website-template-WB0412697" class="btn-buy hover-effect">Purchase Now</a>
    </div>
</div><!--/row-fluid-->
<!-- End Purchase Block -->

<!--=== Content Part ===-->
<div class="container">
	<!-- Service blocks -->
	<div class="row-fluid service-alternative"><!-- remove class "service-alternative" to hide green onmouseover effect-->
    	<div class="span4">
    		<div class="service clearfix">
    			<div class="circle">
    				<i class="icon-resize-small"></i>
    			</div>
    			<div class="desc">
    				<h4>Fully Responsive</h4>
                    <p>Lorem ipsum dolor sit amet, Morem ipsum dolor sit amet consectetur adipisicing elit. Award winning digital agency. We bring a personal and effective approach to every project we work on.</p>
    			</div>
    		</div>	
    	</div>
    	<div class="span4">
    		<div class="service clearfix">
    			<div class="circle">
    				<i class="icon-cogs"></i>
    			</div>
    			<div class="desc">
    				<h4>HTML5+CSS3</h4>
                    <p>Lorem ipsum dolor sit amet, Morem ipsum dolor sit amet consectetur adipisicing elit. Award winning digital agency. We bring a personal and effective approach to every project we work on.</p>
    			</div>
    		</div>	
    	</div>
    	<div class="span4">
    		<div class="service clearfix">
    			<div class="circle">
    				<i class="icon-plane"></i>
    			</div>
    			<div class="desc">
    				<h4>Launch Ready</h4>
                    <p>Lorem ipsum dolor sit amet, Morem ipsum dolor sit amet consectetur adipisicing elit. Award winning digital agency. We bring a personal and effective approach to every project we work on.</p>
    			</div>
    		</div>	
    	</div>			    
	</div><!--/row-fluid-->
	<!-- //End Service Blokcs -->

	<!-- Recent Works -->
	<div class="headline"><h3>Recent Works</h3></div>
    <ul class="thumbnails">
        <li class="span3">
            <div class="thumbnail-style">
                <a class="fancybox-button zoomer" data-rel="fancybox-button" title="Project #1" href="/assets/content/carousel/9.jpg">
                    <div class="overlay-zoom">	
                        <img src="/assets/content/carousel/9.jpg" alt="" />
                        <div class="zoom-icon"></div>					
                    </div>												
                </a>
                <h3><a href="#">Our Work</a></h3>
                <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, justo sit amet risus etiam porta sem. <a class="read-more" href="#">Read more</a></p>
            </div>
        </li>
        <li class="span3">
            <div class="thumbnail-style">
                <a class="fancybox-button zoomer" data-rel="fancybox-button" title="Project #2" href="/assets/content/carousel/3.jpg">
                    <div class="overlay-zoom">	
                        <img src="/assets/content/carousel/3.jpg" alt="" />
                        <div class="zoom-icon"></div>					
                    </div>												
                </a>
                <h3><a href="#">One More Work</a></h3>
                <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, justo sit amet risus etiam porta sem. <a class="read-more" href="#">Read more</a></p>
            </div>
        </li>
        <li class="span3">
            <div class="thumbnail-style">
                <a class="fancybox-button zoomer" data-rel="fancybox-button" title="Project #3" href="/assets/content/carousel/2.jpg">
                    <div class="overlay-zoom">	
                        <img src="/assets/content/carousel/2.jpg" alt="" />
                        <div class="zoom-icon"></div>					
                    </div>												
                </a>
                <h3><a href="#">Another Work</a></h3>
                <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, justo sit amet risus etiam porta sem. <a class="read-more" href="#">Read more</a></p>
            </div>
        </li>
        <li class="span3">
            <div class="thumbnail-style">
                <a class="fancybox-button zoomer" data-rel="fancybox-button" title="Project #4" href="/assets/content/carousel/4.jpg">
                    <div class="overlay-zoom">	
                        <img src="/assets/content/carousel/4.jpg" alt="" />
                        <div class="zoom-icon"></div>					
                    </div>												
                </a>
                <h3><a href="#">Huge Work</a></h3>
                <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, justo sit amet risus etiam porta sem. <a class="read-more" href="#">Read more</a></p>
            </div>
        </li>
    </ul><!--/thumbnails-->
	<!-- //End Recent Works -->

	<!-- Blockquote Block -->
    <blockquote class="margin-bottom-20">
        <p>Award winning digital agency. We bring a personal and effective approach to every project we work on, which is why. Unify is an incredibly beautiful responsive Bootstrap Template for corporate professionals.</p>
        <small>CEO, Jack Bour</small>
    </blockquote>
	<!--//End Blockquote Block -->

	<!-- Information Blokcs -->
	<div class="row-fluid margin-bottom-20">
    	<!-- Welcome -->
		<div class="span8">
			<div class="headline"><h3>Welcome To UNIFY Template</h3></div>
			<p><img class="pull-left lft-img-margin img-width-200" src="/assets/content/carousel/6.jpg" alt="" />Unify is an incredibly beautiful responsive Bootstrap Template for corporate and creative professionals. It works on all major web browsers, tablets and phone.</p>	
            <ul class="unstyled">
            	<li><i class="icon-ok color-green"></i> Donec id elit non mi porta gravida</li>
            	<li><i class="icon-ok color-green"></i> Corporate and Creative</li>
            	<li><i class="icon-ok color-green"></i> Responsive Bootstrap Template</li>
            	<li><i class="icon-ok color-green"></i> Corporate and Creative</li>
            </ul><br />

			<p><em>Unify is an incredibly beautiful responsive Bootstrap Template for corporate and creative professionals. It works on all major web browsers, tablets and phone. Unify is an incredibly beautiful responsive Bootstrap Template for It works on all major web.</em></p>	
        </div><!--/span8-->        

        <!-- Latest Tweets -->
		<div class="span4">
            <div class="blog-twitter">
                <div class="headline"><h3>Latest Tweets</h3></div>
                <p><a href="">@htmlstream</a> At vero eos major web browsers, tablets and phone et iusto odio dignissimos. <a href="#">http://t.co/sBav7dm</a> <span>5 hours ago</span></p>
                <p><a href="">@unify</a> At vero It works on all major web browsers, tablets and phone eos et odio dignissimos. <a href="#">http://t.co/f58Ddg4</a> <span>8 hours ago</span></p>
                <p><a href="">@veroeos</a> At vero eos et dignissimos. It works on all major web browsers, tablets and phone. <a href="#">http://t.co/adVs9f</a> <span>17 hours ago</span></p>
            </div>
		</div><!--/span4-->	
	</div><!--/row-fluid-->	
	<!-- //End Information Blokcs -->

    <!-- Our Clients -->
    <div id="clients-flexslider" class="flexslider home clients">
        <div class="headline"><h3>Our Clients</h3></div>    
        <ul class="slides">
            <li>
                <a href="#">
                    <img src="/assets/content/clients/hp_grey.png" alt="" /> 
                    <img src="/assets/content/clients/hp.png" class="color-img" alt="" />
                </a>
            </li>
            <li>
                <a href="#">
                    <img src="/assets/content/clients/igneus_grey.png" alt="" /> 
                    <img src="/assets/content/clients/igneus.png" class="color-img" alt="" />
                </a>
            </li>
            <li>
                <a href="#">
                    <img src="/assets/content/clients/vadafone_grey.png" alt="" /> 
                    <img src="/assets/content/clients/vadafone.png" class="color-img" alt="" />
                </a>
            </li>
            <li>
                <a href="#">
                    <img src="/assets/content/clients/walmart_grey.png" alt="" /> 
                    <img src="/assets/content/clients/walmart.png" class="color-img" alt="" />
                </a>
            </li>
            <li>
                <a href="#">
                    <img src="/assets/content/clients/shell_grey.png" alt="" /> 
                    <img src="/assets/content/clients/shell.png" class="color-img" alt="" />
                </a>
            </li>
            <li>
                <a href="#">
                    <img src="/assets/content/clients/natural_grey.png" alt="" /> 
                    <img src="/assets/content/clients/natural.png" class="color-img" alt="" />
                </a>
            </li>
            <li>
                <a href="#">
                    <img src="/assets/content/clients/aztec_grey.png" alt="" /> 
                    <img src="/assets/content/clients/aztec.png" class="color-img" alt="" />
                </a>
            </li>
            <li>
                <a href="#">
                    <img src="/assets/content/clients/gamescast_grey.png" alt="" /> 
                    <img src="/assets/content/clients/gamescast.png" class="color-img" alt="" />
                </a>
            </li>
            <li>
                <a href="#">
                    <img src="/assets/content/clients/cisco_grey.png" alt="" /> 
                    <img src="/assets/content/clients/cisco.png" class="color-img" alt="" />
                </a>
            </li>
            <li>
                <a href="#">
                    <img src="/assets/content/clients/everyday_grey.png" alt="" /> 
                    <img src="/assets/content/clients/everyday.png" class="color-img" alt="" />
                </a>
            </li>
            <li>
                <a href="#">
                    <img src="/assets/content/clients/cocacola_grey.png" alt="" /> 
                    <img src="/assets/content/clients/cocacola.png" class="color-img" alt="" />
                </a>
            </li>
            <li>
                <a href="#">
                    <img src="/assets/content/clients/spinworkx_grey.png" alt="" /> 
                    <img src="/assets/content/clients/spinworkx.png" class="color-img" alt="" />
                </a>
            </li>
            <li>
                <a href="#">
                    <img src="/assets/content/clients/shell_grey.png" alt="" /> 
                    <img src="/assets/content/clients/shell.png" class="color-img" alt="" />
                </a>
            </li>
            <li>
                <a href="#">
                    <img src="/assets/content/clients/natural_grey.png" alt="" /> 
                    <img src="/assets/content/clients/natural.png" class="color-img" alt="" />
                </a>
            </li>
            <li>
                <a href="#">
                    <img src="/assets/content/clients/gamescast_grey.png" alt="" /> 
                    <img src="/assets/content/clients/gamescast.png" class="color-img" alt="" />
                </a>
            </li>
            <li>
                <a href="#">
                    <img src="/assets/content/clients/everyday_grey.png" alt="" /> 
                    <img src="/assets/content/clients/everyday.png" class="color-img" alt="" />
                </a>
            </li>
            <li>
                <a href="#">
                    <img src="/assets/content/clients/spinworkx_grey.png" alt="" /> 
                    <img src="/assets/content/clients/spinworkx.png" class="color-img" alt="" />
                </a>
            </li>
        </ul>
    </div><!--/flexslider-->
    <!-- //End Our Clients -->
</div><!--/container-->		
<!--=== End Content Part ===-->





<% content_for :js_plugin do %>
    <script type="text/javascript" src="/assets/content/plugins/fancybox/source/jquery.fancybox.pack.js"></script>
    <script type="text/javascript" src="/assets/content/plugins/flexslider/jquery.flexslider-min.js"></script>
    <script type="text/javascript" src="/assets/content/plugins/apple-style/js/sequence.jquery-min.js"></script> 
    <script type="text/javascript" src="/assets/content/plugins/apple-style/js/apple-style.js"></script> 
    <script type="text/javascript" src="/assets/content/plugins/back-to-top.js"></script>
<% end %>

<% content_for :js_level do %>
    <script type="text/javascript" src="/assets/content/app.js"></script>
    
<% end %>

<% content_for :js_inicializer do %> 
    <script type="text/javascript">
    jQuery(document).ready(function() {
        App.init();
        App.initSliders();
        App.initFancybox();
    });
    </script>
<% end %>